h3{
  color: #c23934;
}

.currency-container
{
  border:1px solid #706e6b;
  padding: 2%;
  margin: 1%;    
  float: left;
  background-color: #fafaf9;
  border-radius: 5px;
}

.disclaimer{
  &_info{
    cursor: pointer;
  }
  &_msg{
    width:275px;
  }
}

.error-info{
  color: #f5160e;
  width:275px;
}

.loading {
  text-align: center;

  &_img{
    max-width: 45%;
  }
}