.currency-container
{
  border:1px solid #706e6b;  
  float: left;
  background-color: #fafaf9;
  border-radius: 5px;
}

.disclaimer_info{
  cursor: pointer;
}

.error-info{
  color: #f5160e;
  width:275px;
}

.loading {
  text-align: center;
}

input:focus::-webkit-input-placeholder{
  color:transparent;
}

input:focus::-moz-placeholder { 
  color:transparent;
}

@media (min-width: 64em){
  .currency-container {
    padding:5%;
  }
  .container {
    margin-right: 20%;
  }
  .slds-m-right--large {
    margin-right : 1rem;
  }
}